body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 13px;
}

header .brand{
    text-align: center;
}

header .brand p{
    font-size:20px;
}
header .brand h1{
    font-size:30px;
}
header h1{
    color: #35424a;
}

header h1 .heading-style{
    color: orangered;
    font-weight: 300;
}
.login-area{
    background: #35424a;
    width: 370px;
    color: #ffffff;
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-area h4{
    text-align: center;
    font-size: 18px;
    margin:0;
}

.login-area input{
    width: 100%;
    margin-bottom: 25px;
}
.login-area input[type="text"],input[type="email"], input[type="password"]{
    border:none;
    background:transparent;
    border-bottom: 1px solid orangered;
    outline:none;
    height: 25px;
    color: #f4f4f4;
    font-size: 14px;
}
.login-area input[type="submit"]{
    border:none;
    outline:none;
    height: 45px;
    background: orangered;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
}
.login-area input[type="submit"]:hover{
    cursor: pointer;
    background: gray;
    color: orangered;
}

.login-area a{
    text-decoration: none;
    font-size:14px;
    color: orangered;
    padding-top: 5px;
    margin-top: 25px;
    text-align: center;
}
.login-area a:hover{
    color: gray;
}