body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 13px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header section*/
 header .brand h1{
    text-align: center;
    font-size:30px;
}
header h1{
    color: #35424a;
}

header h1 .heading-style{
    color: orangered;
    font-weight: 300;
}

/*Form Styles*/
.login-area{
    background: #35424a;
    width: 370px;
    color: #ffffff;
    padding: 10px;
    margin: 340px auto;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-area h4{
    text-align: center;
    font-size: 18px;
    margin:0;
}

.login-area input{
    width: 100%;
    margin-bottom: 25px;
}
.login-area input[type="text"],input[type="email"], input[type="password"]{
    border:none;
    background:transparent;
    border-bottom: 1px solid orangered;
    outline:none;
    height: 25px;
    color: #f4f4f4;
    font-size: 14px;
}
.login-area textarea{
    border:none;
    background:gray;
    border-bottom: 1px solid orangered;
    outline:none;
    color: #f4f4f4;
    font-size: 14px;
    width: 350px;
    margin:20px 10px 20px 10px;
    text-align: center;
    border-radius: 10px;
}
.login-area input[type="submit"]{
    border:none;
    outline:none;
    height: 45px;
    background: orangered;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
}
.login-area input[type="submit"]:hover{
    cursor: pointer;
    background: gray;
    color: orangered;
}

.login-area a{
    text-decoration: none;
    font-size:14px;
    color: orangered;
    padding-top: 5px;
    margin-top: 25px;
    text-align: center;
}
.login-area a:hover{
    color: gray;
}

.input-field{
    margin-top: 30px;
}

/*Table styles*/
table{
    width: 100%;
    margin:auto;
    margin-top:30px;
    border-collapse: collapse;
    overflow-x: scroll;
}

th{
    text-align: left;
    padding-top: 8px;
    background-color: #35424a;
    color: #ffffff;
}

th, td{
    border: 1px solid orangered;
    padding: 10px;
    text-align: center;
}

table a{
    border: .5px solid #000000;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    margin: 0 10px 0 0;

}


table a.button-edit{
    background-color: chocolate;
}

table a.button-edit:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

table a.button-success{
    background-color: green;
}

table a.button-success:hover{
    background-color: orangered;
    color: #ffffff;
    cursor: pointer;
}

table a.button-delete{
    background-color: red;
}

table a.button-delete:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

 a.button-add{
    background-color: #35424a;
    margin-top: 30px;
    width: 50px;
    height: 10px;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}
a.button-add:hover{
    background-color: green;
    color: #ffffff;
    cursor: pointer;
}

select{
    width: 100%;
    background: none;
    border:none;
    width: 350px;
    margin:20px 10px 20px 10px;
    min-height: 40px;
    cursor: pointer;
}

select:focus{
    outline: none;
}

.select{
    position: relative;
    border: 1px solid orangered;
    background: gray;
    cursor: pointer;
}

.select option{
    text-align: center;
}

/* Status bar notification */
#notification_status {
    visibility: hidden;
    min-width: 200px;
    margin-left: -100px;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 80%;
    font-size: 15px;
  }
 #notification_status.make_visible{
     visibility: visible;
 }

 #createCandidateBtn{
    border:none;
    outline:none;
    height: 45px;
    background: orangered;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
 }
 #createCandidateBtn:hover{
    cursor: pointer;
    background: gray;
    color: orangered;
}
.logout_user:hover{
    cursor: pointer;
}

.spinner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.spinner-sector{
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    border:7px solid transparent;
}
.spinner-sector-orangered{
    animation: rotate 1s ease-in infinite;
    border-top: 7px solid orangered;
}
.spinner-sector-green{
    animation: rotate 1s ease-out infinite;
    border-top: 7px solid green;
}
.spinner-sector-lightblue{
    animation: rotate 1s ease infinite;
    border-top: 7px solid lightblue;
}
.spinner-text{
    animation: load-text 2s  ease-in-out infinite;
}
@keyframes rotate{
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
@keyframes load-text{
    0%, 100%{
        opacity: 1;
    }
    25%, 75%{
        opacity: .5;
    }
    50%{
        opacity: .3;
    }
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35424a;
    color: white;
}
.nav-brand{
    font-size: 1.3rem;
    margin: .5rem;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 1.7rem;
}
.nav-links li:hover{
    background-color: gray;
}
.toggle-nav{
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.toggle-nav .bar-indicator{
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
@media (max-width: 700px) {
    .toggle-nav{
        display: flex;
    }
    .nav-links{
        width: 100%;
    }
    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-brand{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: 14px 4px;
    }
.style_image{
    width: 100px;
}