body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-size: 13px;
}

header .brand{
    text-align: center;
}

header .brand p{
    font-size:20px;
}
header .brand h1{
    font-size:30px;
}
header h1{
    color: #35424a;
}

header h1 .heading-style{
    color: orangered;
    font-weight: 300;
}
.login-area{
    background: #35424a;
    width: 370px;
    color: #ffffff;
    padding: 10px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.login-area h4{
    text-align: center;
    font-size: 18px;
    margin:0;
}

.login-area input{
    width: 100%;
    margin-bottom: 25px;
}
.login-area input[type="text"],input[type="email"], input[type="password"]{
    border:none;
    background:transparent;
    border-bottom: 1px solid orangered;
    outline:none;
    height: 25px;
    color: #f4f4f4;
    font-size: 14px;
}
.login-area input[type="submit"]{
    border:none;
    outline:none;
    height: 45px;
    background: orangered;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
}
.login-area input[type="submit"]:hover{
    cursor: pointer;
    background: gray;
    color: orangered;
}

.login-area a{
    text-decoration: none;
    font-size:14px;
    color: orangered;
    padding-top: 5px;
    margin-top: 25px;
    text-align: center;
}
.login-area a:hover{
    color: gray;

}

.input-field{
    margin-top: 30px;
}

/*Table styles*/
table{
    width: 100%;
    margin:auto;
    margin-top:30px;
    border-collapse: collapse;
    overflow-x: scroll;
}

th{
    text-align: left;
    padding-top: 8px;
    background-color: #35424a;
    color: #ffffff;
}

th, td{
    border: 1px solid orangered;
    padding: 10px;
    text-align: center;
}

table a{
    border: .5px solid #000000;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    margin: 0 10px 0 0;

}


table a.button-edit{
    background-color: chocolate;
}

table a.button-edit:hover{
    background-color: green;
    color: #ffffff;
}

table a.button-delete{
    background-color: red;
}

table a.button-delete:hover{
    background-color: green;
    color: #ffffff;
}

 a.button-add{
    background-color: #35424a;
    margin-top: 30px;
    width: 50px;
    height: 10px;
    padding: 6px;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
}
a.button-add:hover{
    background-color: green;
    color: #ffffff;
}

select{
    width: 100%;
    background: none;
    border:none;
    width: 350px;
    margin:20px 10px 20px 10px;
    min-height: 40px;
    cursor: pointer;
}

select:focus{
    outline: none;
}

.select{
    position: relative;
    border: 1px solid orangered;
    background: gray;
    cursor: pointer;
}

.select option{
    text-align: center;
}

/* Status bar notification */
#status {
    visibility: hidden;
    min-width: 200px;
    margin-left: -100px;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 80%;
    font-size: 15px;
  }
  #status.show{
      visibility: visible;
  }
